.gift-area .slick-slide img{
    width: unset;
}
.gift-area{
    padding: 80px 0;
    background: rgba(178,201,211,.1);
}
.gift-area .slick-slider{
    padding-left: 100px;
}
@media(max-width:991px){
    .gift-area .slick-slider{
        padding-left: 0px;
    }
}